@using Microsoft.AspNetCore.Identity

@model List<Chat>
@inject ChatWebAppDbContext context
@inject UserManager<ApplicationUser> userMgr

@{
    ViewData["Title"] = "Chats";

    var loggedInUser = await userMgr.GetUserAsync(User);
    var parcticipates = context.ApplicationUserChats.Where(ac => ac.ApplicationUsers == loggedInUser).Select(s => s.Chats).ToList();
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create">Create new chat</a>

<form class="">
    <input type="text" class="">
    <input type="submit" class="btn btn-primary" value="Search">
</form>

<table class="table">
    <thead>
        <th>Name</th>
        <th></th>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <span class="float-end">
                                @if (parcticipates.Contains(item))
                                    {
                                        <a asp-action="Chatroom" asp-route-id="@item.Id" class="btn btn-primary btn-sm ">Chat</a> 
                                    }
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary btn-sm">Details</a>
                            </span>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>